@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* !! global styles on body, root, etc. */

/* Border-box model makes more sense */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* remove default body margins */
  margin: 0;

  /* set default font to Inter */
  font-family: "Inter", sans-serif;

  /* set default text color */
  color: var(--color-text-body);
}

/* these cause so much problems */
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* TODO: Add mobile styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

section {
  padding: 50px;
}

section.grey,
section.gray {
  background: var(--color-bg-block);
}

section.semicircle .shape {
  /* size and positioning */
  width: 100%;
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;

  /* actual background color */
  background: var(--color-bg-block);

  /* "cuts out" an ellipse (semicircle)
     from the background */
  --curvature: 70%;
  --pos-x: 50%;
  --pos-y: -20%;
  clip-path: ellipse(var(--curvature) 100% at var(--pos-x) var(--pos-y));
}
section.semicircle .shape-wrapper {
  /* size and positioning */
  width: 100%;
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;

  /* go behind the text */
  z-index: -1;

  /* outline the semicircle */
  filter: drop-shadow(
    0px 2px 0px hsl(from var(--color-bg-block) h calc(s - 10) calc(l - 10))
  );
}

section.semicircle {
  /* we need a variable to "propagate" height down.
    inherit keyword does not work
    (because of position: absolute?)
    it's set to a default of 16em here, but can be overriden
    with the --h variable (e.g. in a style attribute) */
  --height: var(--h, 16em);
  height: var(--height);

  /* position the shape children relative to this container */
  position: relative;

  /* header & text positioning */
  text-align: center;
  h1,
  h2,
  h3 {
    margin: 0 0 0.7em;
  }
}
