@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* !! global styles on body, root, etc. */

/* Border-box model makes more sense */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* remove default body margins */
  margin: 0;

  /* set default font to Inter */
  font-family: "Inter", sans-serif;

  /* set default text color */
  color: var(--color-text-body);
}

/* TODO: Add mobile styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

section {
  padding: 50px;
}

section.grey,
section.gray {
  background: var(--color-bg-block);
}
