@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* !! global styles on body, root, etc. */

/* Border-box model makes more sense */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* remove default body margins */
  margin: 0;

  /* set default font to Inter */
  font-family: "Inter", sans-serif;

  /* set default text color */
  color: var(--color-text-body);
}

/* these cause so much problems */
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* TODO: Add mobile styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

/* basic layout constructs */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  justify-content: center;

  gap: 2em;
}

div.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.left {
  display: flex;
  flex-direction: column;
  align-items: left;
}

div.right {
  display: flex;
  flex-direction: column;
  align-items: right;
}

/* forms */
input,
textarea {
  display: flex;
  width: 100%;
  padding: 1em 1.2em;
  border: 1px solid var(--color-tw-slate-400);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

::placeholder {
  color: var(--color-tw-slate-300);
}
