/* global styles on body, root, etc. */

* {
  color: var(--color-text-body);
}

/* TODO: Add mobile styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

section {
  margin: 50px;
}
