.fact {
  display: flex;
  flex-direction: column;

  .fact-title {
    font-weight: bold;
  }
}

.fact-icon {
  display: block;
  border-radius: calc(infinity * 1px);
  background: hsl(var(--fill-hue) 20% 80%);

  display: flex;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
}

.fact-icon img {
  width: 2em;
  aspect-ratio: 1;
  filter: hue-rotate(var(--fill-hue));
}

.big-quote {
  background-color: var(--color-primary);
  color: var(--color-primary-tint);
  border-radius: 8px;

  padding: 4em 0; /* vertical only */
  text-align: center;
}

#sponsor_text {
  text-align: center;
}

#sponsor_logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}

#slack_logo,
#airbnb_logo {
  margin: 0.4rem;
}
