button {
  background-color: var(--color-primary);
  border: none;
  padding: 1% 4%;
  color: var(--color-primary-tint);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
