nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 30%;
  padding-right: 30%;
}

nav a {
  text-decoration: none;
}

.logo_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  text-transform: lowercase;
}

header {
  background-color: var(--color-bg-block);
}
