.picture-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 2em;
  }

  .product-name {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-text-heading);
  }

  .product-description {
    color: hsl(from var(--color-text-body) h s l / 80%);
  }

  .product-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5em;
  }

  .star-rating {
    display: flex;

    .star {
      --size: 1em;
      display: block;
      width: var(--size);
      height: var(--size);
      clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);

      &.filled {
        background: gold;
      }
      &.empty {
        background: darkslategrey;
      }
    }
  }
}
