section {
  padding: 50px;
}

section.grey,
section.gray {
  background: var(--color-bg-block);
}

section.semicircle .shape {
  /* size and positioning */
  width: 100%;
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;

  /* actual background color */
  background: var(--color-bg-block);

  /* "cuts out" an ellipse (semicircle)
     from the background */
  --curvature: 70%;
  --pos-x: 50%;
  --pos-y: -20%;
  clip-path: ellipse(var(--curvature) 100% at var(--pos-x) var(--pos-y));
}
section.semicircle .shape-wrapper {
  /* size and positioning */
  width: 100%;
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;

  /* go behind the text */
  z-index: -1;

  /* outline the semicircle */
  filter: drop-shadow(
    0px 2px 0px hsl(from var(--color-bg-block) h calc(s - 10) calc(l - 10))
  );
}

section.semicircle {
  /* we need a variable to "propagate" height down.
    inherit keyword does not work
    (because of position: absolute?)
    it's set to a default of 16em here, but can be overriden
    with the --h variable (e.g. in a style attribute) */
  --height: var(--h, 16em);
  height: var(--height);

  /* position the shape children relative to this container */
  position: relative;

  /* header & text positioning */
  text-align: center;
  h1,
  h2,
  h3 {
    margin: 0 0 0.7em;
  }
}

section.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1em;

  > * {
    flex: 1;
  }
}
