.user_profile {
  background-color: var(--color-bg-block);
  color: var(--color-text-body);
  border: none;
  text-align: left;
  font-size: x-small;
  border-radius: 0;
  border-top: 0;
}

button.active {
  border-top: 1px solid var(--color-primary);
}

.tab-content {
  display: none;
}

.tab-content-image {
  aspect-ratio: 2;
}

.quoteSelected {
  display: initial;
}

.tab-buttons.vertical {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  gap: 0.5em;

  .user_profile {
    flex-grow: 1;
  }

  .user_profile.active {
    border-left: 1px solid var(--color-primary);
    border-top: none;
  }
}

.tab-container.horizontal {
  display: flex;
  gap: 1em;
}
